:root {
  box-sizing: border-box;
  font-size: calc(0.1em + 2vmax);
  --Dark-blue:#005073;
  --General-blue:#107dac;
  --Stand-out:#189ad3;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../images/motherboard.jpg);
  background-size: cover;
}

header {
  mix-blend-mode: hard-light;
  font-family: Gotham-Light, sans-serif;
  align-self: auto;
  background-color: var(--Dark-blue);
}

h1 {
  margin: 0;
}

.title {
  color: white;
  font-size: 3.5vw;
  font-family: cursive;
  text-shadow: 1px 2px black;
  padding-left: 0;
  margin-left: 0;
}

nav > ul {
  display: grid;
  grid-template-columns: repeat(8, auto);
  height: 1em;
  padding: 0;
  margin: 0;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
}

nav > ul > *,
a {
  list-style: none;
  text-decoration: initial;
  color: white;
  font-size: 0.8em;
}

nav > ul > * :visited {
  color: gold;
  font-size: 1.2em;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 38, 71, 0.81);
  z-index: -1;
}

main {
  display: flex;
  color: white;
  text-shadow: 1px 2px 3px rgb(0, 0, 0);
  justify-content: center;
}
.main--banner {
  margin: auto 2vmin;
  text-align: center;
  line-height: 5em;
  color: #8bc5ff;
  font-family: cursive;
  background-color: #eee;
  border-radius: 0.5em;
  padding: 1em;
}

.login {
  /* display: block; */
  margin: 0;
  padding:0;
  width: 20em;
  min-height: 20em;
  height: fit-content;
  /* height: fit-content; */
  /* background-image: radial-gradient(42em at 19% 20%, hsla(0, 0%, 100%, 0.322), gray); */
  background-color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
   transition: background-color,border-radius ;
  animation: move 3s ease-in-out infinite;
  animation-fill-mode: backwards;
  
}
@keyframes move{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-400px);
  }
  50%{
    transform: translateX(400px);
  }
  0%{
    transform: translateX(0);
  }
}
.login:hover {
  background-color: hsla(0, 0%, 50%, 0.6);
  color: lavender;
  border-color: blue;
  transition-duration: 0.5s;
  border-radius: 0.4em;
  border-right:0.2em solid black;
  border-bottom: 0.2em solid black;
}
form {
  width: 95%;
margin: 0;
padding: 0;
}
.login--details {
  display: block;
  border: 0;
  border-radius: 0.1em;
  padding: 0.2em;
  width: 100%;
  font-size: 0.8rem;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.login--pic-container {
  width: 7em;
  /* margin: 2em auto -1em; */
  margin: auto ;
}
label {
  color: #061c38;
  text-shadow: none;
  font-family: monospace;
  /* text-shadow: 1px 2px 3px #29031f; */
}
.login--button{
  display: block;
  margin:1em auto;
  margin-top: 2em;
  background-color: hsl(180, 50%, 50%);
  border: 0;
  color: white;
  font-size: 1rem;
  padding: 0.3em 1em;
  transition-property: all;
  transition-duration: 0.5s;
}

.login--button:hover {
    background-color: hsl(0, 50%, 50%);
    border-radius: 1em;
  }
/* 
#005073 (0, 80, 115) #107dac (16, 125, 172) #189ad3 (24, 154, 211) #1ebbd7 (30, 187, 215) #71c7ec (113, 199, 236) */