<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="overlay">

  </div>
  <main>
    <h1 style="text-align: center;"> Hello Hot-spot</h1>
  <script src="/main.js"></script>
</body>

</html>