<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="overlay">

  </div>
  <main>
   
         <div class="main--banner-vertic-align">
           <div class="main--banners">
            
              <h1 style="text-align: center;"> React Components</h1>
              <p>React encourages developers to build by breaking a UI up into components. This means there will always
                be a need
                to pass data from one component to another — more specifically, from parent to child component — since
                we’re
                stitching them together and they rely on one another.
              </p>
              <p>
                React calls the data passed between components props and we’re going to look into those in great detail.
                And,
                since we’re talking about props, any post on the topic would be incomplete without looking at PropTypes
                because
                they ensure that components are passing the right data needed for the job</p>
           </div>
         </div>
  <script src="/main.js"></script>
</body>

</html>