<!DOCTYPE html>
<html lang="en">


<head>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
  <% include ../partials/header.ejs %>



  <main>
    <div class="main--banner"><h1>Advance Your Skills</h1>
    <h3>
    with In-Depth, Modern Electrical and Practical Skills
    </h3>
    <div>
    <button>Browse Our Courses</button>
    <button>View Learning Paths</button>
    </div></div>
  </main>
  <script src="/main.js"></script>
</body>