<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="overlay">

  </div>

  <main>
    <div class="main--banner-vertic-align">
      <div class="main--banner">
    <h1>Advance Your Skills</h1>
    <h3>
    with In-Depth, Modern Electrical and Practical Skills
    </h3>
    <div>
    <button class = "login--button">Browse Our Courses</button>
    <button class = "login--button">View Learning Paths</button>
    </div>
    </div>
  </div>
 
  </main>
  <script src="/main.js"></script>
</body>