<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="overlay">

  </div>
<main>


<h2 style="margin: 0;">Database Results</h2>

</main>

</body>
</html>
