<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
 <% include ../partials/header.ejs %> 
 <div class="overlay">

 </div>

 <main>
  <div class="login">
    <form action="">
      <div class="login--pic-container">
        <img src="/images/IMG_5098~2.JPG" alt="image erro!!">
      </div>
      <label class="login--details" for="username">username</label>
      <input class = "login--details username" type="text" placeholder="enter username or email">
      <label class= "login--details"for="password">password</label>
      <input class="login--details" type="password" name="password" id="" placeholder="enter your password">
      <button class="login--button" type="submit">login</button>
    </form>
  </div>
  </main>
</body>

</html>