<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <main>
  <!-- <div class="picture">
  <img src="/images/picture.jpg" alt="Sorry I could not see your pictures">
  </div> -->
</main>
</body>

</html>