<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
 <% include ../partials/header.ejs %> 

 <main>
  <div class="login">
    <div class="login--pic-container">
      <img src="/images/IMG_5098~2.JPG" alt="image erro!!">
    </div>
    <form action="">
      <label for="username">username</label>
      <input class = "username" type="text" placeholder="enter username or email">
      <label for="password">password</label>
      <input type="password" name="password" id="" placeholder="enter your password">
    </form>
  </div>
  </main>
</body>

</html>